import(methods,graphics,Biobase)
exportClasses('aGFF','aGFFCalc','ACME','ACMECalc')
exportMethods('show','print','plot','Chromosome','Position','QCData','exprs','threshold','windowsize','pvals')
export(do.aGFF.calc,findRegions,read.resultsGFF,findClosestGene,write.sgr,getRefflat)
useDynLib(ACME)
