import(methods,graphics)
exportClasses('aGFF','aGFFCalc','ACMESet','ACMECalcSet')
exportMethods('show','print','plot','vals','threshold','cutpoints',
              'chromosome','start','end')
export(do.aGFF.calc,findRegions,read.resultsGFF,findClosestGene,write.sgr,getRefflat)
useDynLib(ACME)
